doctype html  
html(lang="ru")
    head 
        include modules/head
    body 
        include modules/header
        include modules/offer
        include modules/quiz 
        include modules/questions
        include modules/adv   
        include modules/portfolio
        include modules/about
        include modules/footer
        include modules/modals
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
script(type="text/javascript" src="js/slick.min.js")
script(src="js/jquery.validate.js")
script(src="js/jquery.inputmask.bundle.min.js") 
script(src="js/jquery.fancybox.min.js") 
script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
script(type="text/javascript" src="js/main.js") 