block about
    section.about(id="about")
        .container
            h2.about-title.section-title О нас
            .about-inner 
                .about-left 
                    p.about-text Наша компания является ведущим производителем комплектующих для заборов. Многолетний опыт работы позволил нам добиться лучшего качества на рынке заборов в Санкт-Петербурге и Ленинградской области.
                    p.about-text На нашем складе всегда есть готовые комплекты под установку откатных ворот.  
                    p.about-text Также мы можем изготовить любые позиции нестандартных размеров для вас.
                    p.about-text Большинство наших изделий защищено порошковым покрытием, что позволяет продлить срок новизны и качества ворот.
                    p.about-text Установка заборов в Санкт-Петербурге и Ленинградской области является нашим основным профилем, а наши монтажники готовы выполнить установку заборов и ворот по всей территории СПБ и Лен.Обл., в подходящие для вас сроки.
                    p.about-text Мы поможем рассчитать и скомплектовать все необходимое для вашего забора.
                .about-right
                    img(data-src="img/about/1.jpg" src="img/1.jpg", alt="")