block adv 
    section.adv
        .container
            .adv-inner 
                .adv-left 
                    .adv-img 
                        img(data-src="img/adv/img.png" src="img/1.jpg", alt="")
                .adv-right
                    h2.adv-title Откатные ворота по выгодным ценам
                    .adv-subtitle Покупайте за:
                    ul.adv-list 
                        li.adv-list__item Лучшую цену 
                        li.adv-list__item Монтаж под ключ 
                        li.adv-list__item Высокое качество
                        li.adv-list__item Долговечность 
                            span.mob-row эксплуатации 