block footer
    footer.footer 
        //button.away-modals 
        .container 
            .footer-inner 
                .footer-column 
                    .header-top__label Производство и монтаж откатных ворот
                    .header-bottom__slogan  Откатки-это-просто 
                    .header-bottom__social 
                        a(href="#" title="телеграмм")
                            img(data-src="img/header/tg.svg" src="img/1.jpg", alt="telegramm")
                        a(href="#" title="whatsapp")
                            img(data-src="img/header/ws.svg" src="img/1.jpg", alt="WathUpp")
                        a(href="#" title="Вконтакте")
                            img(data-src="img/header/vk.svg" src="img/1.jpg", alt="Вконтакте") 
                .footer-column 
                    a.politica(href="#") Политика конфиденциальности 
                .footer-column 
                    .footer-info © ЗаборКомплект, 2023
                .footer-column
                    a.header-top__tell(href="tel:+78127165577" title="позвонить") +7 (812) 716-55-77
                    .header-top__place Санкт-Петербург, Комендантский пр, дом 4
                    .header-top__time Ежедневно: 
                        span с 9:00- 20:00 