block header 
    header.header 
        .container  
            .header-inner 
                .header-top 
                    .header-top__label Производство и монтаж откатных ворот
                    .header-top__place Санкт-Петербург, Комендантский пр, дом 4
                    .header-top__time Ежедневно: 
                        span с 9:00- 20:00
                    .header-top__contacts 
                        a.header-top__tell(href="tel:+78127165577" title="позвонить") +7 (812) 716-55-77
                        a.header-top__callback(href="#") Заказать звонок 
                .header-bottom
                    .header-bottom__slogan  Откатки-это-просто 
                    nav.menu 
                        ul 
                            li 
                                a(href="#quiz" ) Калькулятор
                            li 
                                a(href="#porfolio") Наши работы
                            li 
                                a(href="#about") О нас
                            li 
                                a(href="#") Контакты 
                    .header-bottom__social 
                        a(href="#" title="телеграмм")
                            img(src="img/header/tg.svg", alt="telegramm")
                        a(href="#" title="whatsapp")
                            img(src="img/header/ws.svg", alt="WathUpp")
                        a(href="#" title="Вконтакте")
                            img(src="img/header/vk.svg", alt="Вконтакте") 
                        .burger(title="открыть меню") 
                            img(src="img/header/burger.svg", alt="") 
        .mob-menu-wrap 
            ul.mob-menu   
                .close 
                    img(src="img/header/close.svg", alt="")  
                li 
                    .header-bottom__slogan  Откатки-это-просто 
                li 
                    a(href="#") Калькулятор
                li 
                    a(href="#") Наши работы
                li 
                    a(href="#") О нас
                li 
                    a(href="#") Контакты 
                li  
                    .header-top__place Санкт-Петербург, Комендантский пр, дом 4
                li 
                    .header-top__time Ежедневно: 
                        span с 9:00- 20:00
        .overlay
