block head 
    meta(charset='utf-8')
    <title>Франшиза грузового шинного сервиса</title> 
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(rel='apple-touch-icon', href='')
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    //- link(rel='stylesheet' href='css/slick.css') 
    //- link(rel='stylesheet' href='css/slick-theme.css') 
    //- link(rel='stylesheet' href='css/jquery.fancybox.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css')
    link(rel='stylesheet' href='css/style.css') 