block offer 
    section.offer
        .container
            .offer-wrapper 
                //- .offer-img(style="display: none;") 
                //-     img(src="img/offer/vorota.png", alt="")
                .offer-img-slider 
                    .offer-img-slider-slider  
                        .offer-img-slider-midl.offer-img-slider-img
                            img(src="img/offer/11.png", alt="")
                        .offer-img-slider-right.offer-img-slider-img
                            img(src="img/offer/12.png", alt="")
                        //- .offer-img-slider-left.offer-img-slider-img
                        //-     img(src="img/offer/ugol.png", alt="")
                .offer-inner
                    h1.offer-title Откатные ворота Для вашего комфорта
                    .offer-info Занимаемся производством и монтажом откатных ворот для частных домов, создавая комфорт и уют вашего двора
                    a(href="#" class="btn offer_btn") Рассчитать стоимость 