block portfolio
    section.portfolio
        .container
            h2.portfolio-title.section-title Наши выполненные работы
        .portfolio-wrapper
            .portfolio-slider.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/portfolio/1.jpg", alt="")
                    .swiper-slide
                        img(src="img/portfolio/1.jpg", alt="")
                    .swiper-slide
                        img(src="img/portfolio/1.jpg", alt="")
                    .swiper-slide
                        img(src="img/portfolio/1.jpg", alt="")
                    .swiper-slide
                        img(src="img/portfolio/1.jpg", alt="")
                    .swiper-slide
                        img(src="img/portfolio/1.jpg", alt="")
                .swiper-pagination
        .portfolio-navigation 
            .swiper-button-prev
                img(src="img/portfolio/left.svg", alt="")
            .swiper-button-next
                img(src="img/portfolio/right.svg", alt="")

                