block questions
    section.questions
        .container
            .questions-wrapper 
                h2.questions-title.section-title У вас есть вопросы?
                .questions-subtitle оставьте заявку и мы свяжемся с вами в течении 5 минут!
                form.questions-form.sectionForm(action="#") 
                    input.input(type="text" placeholder="Имя" name="name")
                    input.input.phone(type="text" placeholder="Телефон" name="phone")
                    textarea.input(name="", cols="20", rows="5" placeholder="Введите сообщение") Введите сообщение
                    button.btn.questions-btn(type="submit") Оставить заявку
                    .ok Согласие на обработку персональных данных 