block quiz
    section.quiz
        .container
            .quiz-inner
                h2.quiz-title.section-title Рассчитайте стоимость будущих ворот за 
                    span 1 минуту!
                .quiz-wrap 
                    .quiz-wrap-rows 
                        .quiz-wrap-left
                            .calc-filter-row.montazh 
                                .calc-row-top 
                                    p.calc-filter-title Сборка:
                                    //input.calc-inp.range-people(type="text" READONLY)
                                .bf_calc__wrapper.montazh
                                    input(id="montazh-1" class="radio" type="radio" name="montazh")
                                    label(for="montazh-1" class="glass")
                                        |С монтажом 
                                    <br>
                                    input( id="montazh-2" class="radio" type="radio" name="montazh" checked) 
                                    label(for="montazh-2" class="glass")
                                        |Нет  
                        .quiz-wrap-right
                            h3.quiz-wrap__title Материал зашивки  
                            .quiz-wrap-row 

                                input( id="material-1" type="radio" name="material") 
                                label(for="material-1" style="background-image: url(img/zashivka/bez_zashivki.jpg);") 
                                    h4 без зашивки

                                input( id="material-2" type="radio" name="material" ) 
                                label(for="material-2" style="background-image: url(img/zashivka/profil.jpg);")
                                    h4 Гиттер-Профиль

                                input( id="material-3" type="radio" name="material" checked) 
                                label(for="material-3" style="background-image: url(img/zashivka/3D.jpg);")
                                    h4 3Д     
                    .quiz-wrap-rows 
                        .quiz-wrap-left
                            h2.quiz-wrap__title Укажите размеры проема ворот:
                            .calc-row 
                                .calc-row-top 
                                    p.calc-title Ширина проема (Mетр)
                                    //input.calc-inp.range-people(type="text" READONLY)
                                .calc-row-content     
                                    input.calc-range.slider(type="range" min="1" max="6" value="6" step="0.1")
                                    #selector 
                                        #selectorBtn 12
                                    #selectorvalue 
                                    #minNumber 1
                                    #maxNumber 6 
                            .bf_calc-row 
                                .calc-filter-title замок
                                .bf_calc__wrapper.parametrs
                                    input(data-dostavka="1"  id="zamok" class="checkbox" type="checkbox" name="zamok") 
                                    label(for="zamok" ) встроенный замок
                            //- .calc-row 
                            //-     .calc-row-top 
                            //-         p.calc-title Высота проема (Mетр)
                            //-         //input.calc-inp.range-people(type="text" READONLY)
                            //-     .calc-row-content     
                            //-         input.calc-range.slider(type="range" min="1" max="3" value="1" step="0.1")
                            //-         #selector 
                            //-             #selectorBtn 
                            //-         #selectorvalue 
                            //-         #minNumber 1
                            //-         #maxNumber 3
                        .quiz-wrap-right
                            h3.quiz-wrap__title Делаем ли калитку:
                            .quiz-wrap-row 

                                input( id="gate-1" type="radio" name="gate") 
                                label(for="gate-1" style="background-image: url(img/kalitka/vstroennaiz-profil.jpg);") 
                                    h4 Встроенная калитка

                                input( id="gate-2" type="radio" name="gate" ) 
                                label(for="gate-2" style="background-image: url(img/kalitka/rudom-stouachia.jpg);")
                                    h4 Рядом стоящаяя

                                input( id="gate-3" type="radio" name="gate" checked) 
                                label(for="gate-3" style="background-image: url(img/kalitka/rudom-stouachia-shtaketnik.jpg);")
                                    h4 рядом стоящая штакетник
                    .quiz-wrap-rows 
                        .quiz-wrap-left
                            .calc-filter-row.color 
                                .calc-row-top 
                                    p.calc-filter-title Цвет:
                                    //input.calc-inp.range-people(type="text" READONLY)
                                .bf_calc__wrapper
                                    input(id="color-1" class="radio" type="radio" name="color")
                                    label(for="color-1" class="glass")
                                        |Стандарт 
                                    <br>
                                    input( id="color-2" class="radio" type="radio" name="color" checked) 
                                    label(for="color-2" class="glass")
                                        |Не стандарт
                            .bf_calc-row 
                                .calc-filter-title Подключение автоматики
                                .bf_calc__wrapper.parametrs
                                    input(data-dostavka="1"  id="dostavka" class="checkbox" type="checkbox" name="dostavka") 
                                    label(for="dostavka" ) комплект+монтаж
                        .quiz-wrap-right
                            h3.quiz-wrap__title Основание:
                            .quiz-wrap-row 

                                input( id="footing-1" type="radio" name="footing") 
                                label(for="footing-1" style="background-image: url(img/method-montaja/svinchovie-svai.jpg);") 
                                    h4 винтовые сваи

                                input( id="footing-2" type="radio" name="footing" ) 
                                label(for="footing-2" style="background-image: url(img/method-montaja/betonnaia-tumba.jpg);")
                                    h4 бетонная тумба

                                input( id="footing-3" type="radio" name="footing" checked) 
                                label(for="footing-3" style="background-image: url(img/method-montaja/bethonnaiz-plita.jpg);")
                                    h4 бетонная плита            
                .quiz-result 
                    .quiz-result__img
                        img(src="img/quiz/0.jpg", alt="")
                    .quiz-result__info 
                        h2.quiz-wrap__title Цена:
                        .quiz-result__summ 75 000 ₽