block footer
    footer.footer 
        //button.away-modals 
        .container 
            .footer-inner 
                .footer-column  
                    p.footer__text AvdeevTyres ®, </br>2007-2022 г.
                    p.footer__text ИП Авдеев Константин Александрович,ИНН 183100574706
                    p.footer__text.flag_footer Удмуртская Республика,</br>г.Ижевск
                .footer-column.second-column.tac
                    a.footer__logo.noLink(href="#")
                        img(src="img/footer/logo.png", alt="")
                    .made-link
                        span Сделано в России
                        img(src="img/footer/rf.png", alt="")
                    
                .footer-column.footer-column_big  
                    .header-social
                        .header-social-left 
                            <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.571 1.29345C2.577 3.91245 0 7.92745 0 13.0915C0 20.9845 7.657 27.5355 15.222 26.1155C19.951 25.2285 25.137 20.0425 26.024 15.3135C27.898 5.32345 16.46 -3.36755 7.571 1.29345ZM21.1 4.99145C24.002 7.89345 24.5 9.07945 24.5 13.0915C24.5 17.1035 24.002 18.2895 21.1 21.1915C18.198 24.0935 17.012 24.5915 13 24.5915C6.217 24.5915 1.5 19.8745 1.5 13.0915C1.5 9.07945 1.998 7.89345 4.9 4.99145C9.799 0.0924535 16.201 0.0924535 21.1 4.99145ZM7.925 7.92645C6.455 11.7565 11.176 19.5915 14.955 19.5915C17.499 19.5915 16.702 16.7985 13.75 15.3735C11.768 14.4165 11 13.2995 11 11.3745C11 7.92645 8.85 5.51545 7.925 7.92645ZM12.842 8.14245C12.263 9.65145 15.965 14.5915 17.674 14.5915C19.238 14.5915 18.497 9.89845 16.671 8.24645C14.397 6.18845 13.6 6.16745 12.842 8.14245ZM17.421 10.9005C17.365 11.7525 17.198 11.7345 16.836 10.8355C16.557 10.1445 15.848 9.87645 15.26 10.2395C14.623 10.6335 14.483 10.4275 14.915 9.72945C15.765 8.35245 17.535 9.17945 17.421 10.9005Z" fill="black"/>
                            </svg>
                        .header-social-right 
                            a.header__pnone(href="tel:+79292771090")
                                |+7 929 277 10 90
                            button.header__calBack.noLink(type="button") заказать звонок
                    a.footer__text.footer__text-images(href="https://xn--5-7sbamtgf4aex7b0b.xn--p1ai/") Упаковка и продвижение франшиз: «Франчайзинг5»
                    a.policy.footer__text.footer__text_link.politica(href="#") Политика конфиденциальности  
                    


                

                

