block header 
    header.header 
        .container  
            .header-inner 
                .header-column 
                    a.logo(href="index.html") 
                        img(src="img/header/logo.png", alt="")
                p.header__info Франшиза от компании с оборотом 500 млн. рублей за год
                .header-social
                    .header-social-left
                        img(src="img/header/tel.png", alt="")
                    .header-social-right 
                        a.header__pnone(href="tel:+79292771090") +7 929 277 10 90
                        button.header__calBack.noLink(type="button") заказать звонок                            