block thanks
    section.offer.offerOk.thanks 
        .container
            .heading
            .wrapper
                .heading__block
                    h1.section-title 
                        span#thanksName.pink.color Имя, 
                        |благодарим Вас за обращение в компанию AvdeevTyres®
                    p.thanks-subtitle Для обсуждения сотрудничества мы свяжемся с вами в ближайшее время.
                    .about 
                        .about-item 
                            .about-item-img 
                                img(src="img/thanks/1.png", alt="")
                            .about-item-info 
                                .about-item-top График работы 
                                    span.row компании: 
                                .about-item-bottom ежедневно
                        .about-item 
                            .about-item-img 
                                img(src="img/thanks/2.png", alt="")
                            .about-item-info.mestnoPlace 
                                .about-item-top По нашему местному
                                    span.row времени в г. Ижевск: 
                                .about-item-bottom с 09:00 до 20:00
                            .about-item-info 
                                .about-item-top По московскому 
                                    span.row времени: 
                                .about-item-bottom с 08:00 до 19:00
                    .thanks-info Если Вы оставили заявку в нерабочее время или в выходной/праздничный день — мы перезвоним Вам в ближайший рабочий день.
                    .slogan_thanks-info С нами ваши шины работают правильно
                    .revies 
                        .revies-item.first 
                            .revies-item-top 
                                span Главный сайт бренда:
                                a(href="http://avdeevtyres.ru/" target="_blank").sait-logo
                                    img(src="img/thanks/logo.png", alt="")
                            .revies-item-bottom
                                a(href="index.html").home Вернуться на основную страницу 
                        .revies-item.second 
                            .revies-item-top 
                                span Отзывы клиентов:
                                a(href="https://www.google.com/maps/place/%D0%B8%D0%BF+%D0%90%D0%B2%D0%B4%D0%B5%D0%B5%D0%B2/@56.8213951,53.1970473,17z/data=!3m1!4b1!4m5!3m4!1s0x43e139412ad322fb:0xcb74b484d7a58fd!8m2!3d56.8213951!4d53.1970473" target="_blank").google 
                                    img(src="img/thanks/google.png", alt="")
                .thanks-company 
                    .thanks-company-wrapper
                        .thanks-company-img 
                            img(src="img/thanks/avtor.png", alt="")
                        .thanks-company-info
                            .thanks-company-avtor Константин Авдеев
                            .thanks-company-doljnost основатель компании 
                                

            