.header{
    background: #24231E;
    .header-top {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        font-family: 'Montserrat-Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        align-items: center;
    }

    

    .burger {
        width: 30px;
        height: 34px;
        display: none;
        cursor: pointer;

        @include small () {
            display: block;
        }

        @include to (400px){
            margin-left: auto;
        }

        img {
            object-fit: contain;
        }
    }

 



    .header-top__callback {
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        padding-bottom: 3px;
        border-bottom: 2px solid #fff;

        @include mobile () {
            font-size: 12px;
            text-align: end;
        }
    }

    .header-top__contacts   {
        display: flex;
        flex-direction: column;

        @include to (372px) {
            //margin-left: auto;
        }
    }

    .header-bottom {
        display: flex;
        align-items: center;
        //justify-content: space-between;
        padding: 18px 0 20px;
    }

    .mob-menu-wrap {
        background-color: rgba($color: #000000, $alpha: .8);
        width: 40%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 999;
        display: flex;
        /* flex-direction: column; */
        //align-items: center;
        padding-top: 50px;
        display: none;
        transform: translateX(-100%);
        transition: transform .6s;

        &.active {
            transform: translateX(0);
        }

        @include small () {
            display: block;
            
        }

        @include mobile () {
            width: 100%;
            
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .header-top__place {
            @include small () {
                display: block;
            }
        }

        .header-top__time {
            @include small () {
                display: block;
            }
        }
    }

    .close {
        width: 30px;
        height: 30px;
        //padding: 30px;
        margin-left: auto;
        margin-right: 30px;
        cursor: pointer;
    }


    .overlay {
        width: 0;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .6);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        transition: width 1s;

        &.active {
            width: 100%;
        }
    }

    

    .menu {
        ul {
            display: flex;
            list-style: none;
            padding-left: 0;

            @include small () {
                display: none;
            }
            li {
                margin-right: 87px;

                @include to(1560px) {
                    margin-right: 50px; 
                }

                &:last-child {
                    margin-right: 0;
                }
                a  {
                    font-family: 'Montserrat-Medium', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #FFFFFF;

                    &:hover {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }


    .header-bottom__slogan {
        margin-right: 118px;

        @include to(1560px) {
            margin-right: 70px; 
        }

        @include mobile () {
            margin-right: 0;
        }
    }

    .header-bottom__social {
        margin-left: auto;
    }

  

}

.header-top__place {
    max-width: 245px;
    width: 100%;
    padding-left: 30px;
    position: relative;
    font-size: 16px;
    line-height: 20px;

    @include small () {
        display: none;
    }

    &::after {
        content: '';
        position: absolute;
        background: url(../img/header/map.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
    }
}

.header-top__tell {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 30px;

    @include table () {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 16px;
    }

    &::after {
        content: '';
        position: absolute;
        background: url(../img/header/tel.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
    }
}

.header-top__time {
    position: relative;
    padding-left: 25px;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    line-height: 20px;

    @include small () {
        display: none;
    }

    &::after {
        content: '';
        position: absolute;
        background: #FF9900;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        left: 0;
        top: 2px;
    }

    span {
        font-family: 'Montserrat-Regular', sans-serif;  
    }
}

.header-top__label {
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;

    @include mobile () {
        max-width: 165px;
        font-size: 12px;
        line-height: 16px;
    }

    @include to (372px) {
        //display: none;
        max-width: 120px;
    }
}

.header-bottom__slogan {
    font-family: 'RFDewiExpanded-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;

    @include mobile () {
        font-size: 14px;
        line-height: 16px;
        margin-right: 0;
        
    }

    @include to (400px) {
        display: none;
    }
}

.header-bottom__social {
    display: flex;

    @include to (400px){
        width: 100%;
    }

    a {
        width: 30px;
        height: 30px;
        display: block;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            transform: scale(1.1);
        }
    }






    
}