.offer{
    //padding: 105px 0 359px;
    
    margin-top: 47px;
    position: relative;

    @include desctop () {
        padding-bottom: 200px;
    }

    @include table () {
        margin-top: 0;
        padding-bottom: 0;
    }

    @include mobile () {
       padding-bottom: 40px;
    }

    .container {
        padding: 105px 0 359px;

        @include desctop () {
            padding: 45px 0 260px;
        } 

        @include table () {
            padding: 45px 0 280px;
        } 

        @include mobile () {
            padding: 0 15px 0;
        } 
    }

    &::after {
        content: '';
        position: absolute;
        background-image: url(../img/offer/left.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        //width: 938px;
        width: 48%;
        height: 715px;
        bottom: 0;
        left: 0;

        @include to(1560px) {
            height: 498px;
            bottom: 17%;
        } 

        @include desctop () {
            height: 390px;
        }

        @include table () {
            height: 263px;
            bottom: 0;
            background-size: contain;
        }

        @include mobile () {
            bottom: -100px;
            display: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/offer/right.png);
        background-repeat: no-repeat;
        background-size: cover;
        //width: 910px;
        width: 45%;
        height: 768px;
        top: 0;
        right: 0;

        @include to(1560px) {
            height: 525px;
        }

        @include desctop () {
            height: 379px;
        }

        @include table () {
            height: 269px;
            top: 41%;
            background-size: contain;
        }

        @include mobile () {
            // height: 193px;
            top: 70%;
            display: none;
        }
    }

    .offer-wrapper {
        position: relative;


    }

    .offer-img  {
        position: absolute;
        top: -11px;
        right: -33px;
        z-index: 1;

        @include to(1560px) {
            width: 60%;
            top: 34px;
            right: 65px;
            z-index: 1;
        }

        @include small () {
            top: 102px;
            right: 65px;
        }

        @include desctop () {
            width: 60%;
            top: 113px;
            right: 6px;
        }

        @include table () {
            top: 233px;
            right: 42px;
        }

        @include mobile () {
            position: static;
            width: 100%;
        }
    }

    .offer-inner {
        max-width: 669px;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .offer-title {
        font-family: 'Montserrat-ExtraBold', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 59px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 40px;
        line-height: 130%;

        @include desctop () {
            font-size: 36px;
        }

        @include table () {
            font-size: 25px;
            max-width: 400px;
            line-height: 130%;
            margin-bottom: 20px;
        }

        @include mobile () {
            font-size: 22px;
        }
    }

    .offer-info {
        font-family: 'Montserrat-Medium', sans-serif;
        margin-bottom: 40px;
        max-width: 634px;
        width: 100%;

        @include to (1580px) {
            max-width: 400px;
        }

        @include small () {
            max-width: 470px;
        }

        @include mobile () {
            margin-bottom: 20px;
        }
    }

    .offer-img-slider {
        position: absolute;
        width: 928px;
        height: 328.2px;    
        top: 135px;
        right: -40px;
        z-index: 1;

        

        @include to (1850px) {
            width: 820px;
            top: 225px;
        }

        @include to (1580px) {
            top: 122px;
            right: 31px;
        }

        @include small () {
            width: 600px;
            height: 260px;
            top: 217px;
        }

        @include desctop () {
            width: 459px;
            height: 206px;
            top: 337px;
            right: 81px;
        }

        @include mobile () {
            position: static;
            // width: 456px;
            // height: 235px;
        }

        @include to (550px) {
            width: 379px;
            height: 180px;
        }

        @include to (460px) {
            max-width: 277px;
            height: 145px;
            //height: 150px;
        }

        @include to (360px) {
            width: 211px;
            height: 120px;
         }
    }

    .offer-img-slider-slider {
        position: relative;
    }

    .offer-img-slider-img {
        position: absolute;

        @include to (1850px) {
            height: 296px;
        }

        @include small () {
            height: 210px;
        }

        @include desctop () {
            height: 165px;
        }

        @include table () {
            //height: 370px;
        }

        @include mobile () {
            //height: 246px;
        }

        @include to (550px) {
           height: 136px;
        }
        @include to (460px) {
           //height: 159px;
           height: 100px;
        }
        @include to (360px) {
            height: 75px;
         }
    }

    @-webkit-keyframes upElement {
        0% {
            transform: translateX(65%);
        }
        to {
            transform: translateX(0);
        }
      }

    .offer-img-slider-midl {
        right: 14px;
        top: 20px;
        transform: translateX(65%);
        animation-fill-mode: forwards;
        animation-name: upElement;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        z-index: 2;
    }

    .offer-img-slider-right {
        z-index: 3;
        left: 0;
        @include to (1850px) {
            height: 320px
        }

        @include small () {
            height: 237px;
            top: 5px;
        }

        @include desctop () {
            height: 173px;
            top: 14px;
        
        }

        @include to (550px) {
            height: 145px;
            top: 14px;
        }

        @include to (460px) {
            height: 105px;
            top: 15px;
        }

        @include to (360px) {
            height: 79px;
            top: 18px;
         }
    }

    .offer-img-slider-left {
        //left: 90px;
        right: -5.5%;
        top: 20px;

        @include to (1850px) {
            right: 5.5%;
            right: -2%;
        }

        @include desctop () {
            //left: 69px;
            right: 0;
        }

        @include mobile () {
            right: -5%;
        }

        @include to (550px) {
            // left: 50px;
        }

        @include to (400px) {
            //left: 43px;
        }
    }
}